<html>
    <head>
        <meta charset="utf-8"/>
        <title>EJS</title>
        <style>
            .contents {
                background : #ccc;
                padding : 30px;
                margin : 10px;
                font-weight : bold
            }
        </style>
    </head>
    <body>
        <h1 style="color : #C80000"><%=title %></h1>
        <% for(i = 0; i < 3; i++) { %>
        <li>Hello ejs!</li>
        <% } %>
        <div class="contents">
            content box
        </div>
        <input id="btn" type="button" value="Click!"/>
        
        <script>
            var btn = document.getElementById('btn');
            btn.addEventListener('click', function() {
                alert('click! click!');
            });
        </script>
    </body>
</html>